/* * {
    border: 1px solid black;
} */

.header {
    min-height: 15vh;
    max-height: auto;
    background-color: #f8f9fa;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.header-container {

    text-decoration: none;
    font-family: Calibri;
    font-weight: bold;
    font-size: large;
    color: #023047;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.header>div {
    width: 100%;
    height: 100%;
    align-items: center;
}

.header>.empty,
.logo {
    display: flex;
    height: auto;
    justify-content: center;
}

.header>.link {
    display: flex;
    justify-content: end;
    text-decoration: none;
    font-family: Calibri;
    /* font-weight: bold; */
    font-size: large;
    color: #023047;
}

.logo>img {
    width: auto;
    min-height: 5em;
    max-height: 7em;
}

.header .link {
    padding: 1em;
}

.header a {
    margin-left: 1em;
    margin-right: 1em;
    text-decoration: none;
}

.empty {
    width: 12em;
}

.header-nav ul {
    display: inline-flex;
    list-style-type: none;
    column-gap: 5em;
}

.header-nav {
    display: flex;
    justify-content: center;
    margin-top: 0;
    min-height: 10vh;
    max-height: auto;
    padding-top: 2em;

    background-color: #f8f9fa;
}

/* style configuration for user profile in header 2 */
.user-pic {
    height: 3em;
    width: 3em;
    background-color: aqua;
}

.user-pic img {
    border-radius: 50%;
    height: auto;
    width: 100%;
}

/* stiky navigation bar */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    /* Add any additional styling you want for the sticky header */
}
