* {
    border: 1px solid black;
}

body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: aqua;
}

.welcome {
    display: flex;
    height: 30em;
    width: 30em;
    justify-content: center;
    align-items: center;

    background-color: #023047;
}

.welcome h3 {
    color: aliceblue;
}

.form-container {
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    height: 30em;
    width: 25em;

    background-color: bisque;
}





.input-label {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.input-label label {
    margin-right: 10px;
}

.input-label input {
    width: 200px;
    /* Adjust the width as needed */
}